//- h1!= link_to(get_bloginfo('name'), get_bloginfo('url'))
//- h2= get_bloginfo('description')
//-
#border
	.patch
#border-faded
#menu
	= wp_nav_menu('menu=main-menu&after=<li class="menu-divider"><img src="/wp-content/themes/fth/assets/images/titan_spread/fixtures_menudivider.png" /></li>');