.shroud
	.loader
		.a
			img(src="/wp-content/themes/fth/assets/images/titan_spread/loader_a.png")
		.b
			img(src="/wp-content/themes/fth/assets/images/titan_spread/loader_b.png")
		.c
			img(src="/wp-content/themes/fth/assets/images/titan_spread/loader_c.png")
		.a2
			img(src="/wp-content/themes/fth/assets/images/titan_spread/loader_a.png")
		.b2
			img(src="/wp-content/themes/fth/assets/images/titan_spread/loader_b.png")
		.c2
			img(src="/wp-content/themes/fth/assets/images/titan_spread/loader_c.png")