doctype html
html
  head= render_partial("layouts/head")
  body.
			<?php
			  while ( have_posts() ) : the_post(); ?>
			    <div class="content" id="content">
						<div class="wrapper">
			        <?php the_content(); ?>
						</div>
			    </div>
			  <?php
			  endwhile;
			  wp_reset_query(); ?>
			
		.background-wrapper
      = render_partial("layouts/header")
	    .page-wrapper
		= render_partial("layouts/loader")
	  - wp_footer()