.content {
	margin-top: 900px;
	background: rgba(black, .75);
	height: 1300px;
	
	@media screen and (max-width: 1024px ) { margin-top: 650px; height: 1100px; }
	@media screen and (max-width: 600px ) { margin-top: 450px; }
	
	.wrapper {
		color: white;
		margin: 0px auto;
		max-width: 1200px;
		text-align: center;
		overflow: hidden;
		
		p { position: relative; }
		
		.aligncenter {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			
		}
		.blocks {
			display: table;
			margin: 360px auto 0 auto;
			
			@media screen and (max-width: 600px) { margin-top: 260px; }
		}
		.front-content {
			position: relative;
			z-index: 1000;
		}
		
		//upper blocks
		.cta-block {
			margin-top: -100px;
			width: 300px;
			height: 100px;
			display: inline-block;
			text-transform: uppercase;
			text-align: center;
			vertical-align: top;
			
			@media screen and (max-width: 600px) {
				display: block;
				margin: 0px !important;
				text-align: left !important;
			}
			
			a {
				text-decoration: none;
				color: $primary-text-color;
				font-family: FuturaLT;
				cursor: pointer;
				overflow: hidden;
				
				.cta, .title, .hidden-text {
					transition: .2s;
					animation-timing-function: ease-in-out;
				}
				.cta {
					font-size: 16px;
					letter-spacing: .7em;	
					opacity: .75;
				}
				.title {
					margin-top: -8px;
					padding-top: 3px;
					display: block;
					font-size: 60px;
					
				}
				.hidden-text { 
					opacity: 0;
					margin-right: -2px;
					margin-top: -2px;
					font-size: 14px;
					font-family: FuturaMD;
//					letter-spacing: .3em;
					color: $secondary-text-color;
					text-transform: lowercase;
				}
				
				@media screen and (min-width: 768px){
					&:hover { 
						.cta, .title {
							color: white;
							opacity: 1;
							transition: .3s;
							animation-timing-function: ease-out;	
						}
						.cta {
							letter-spacing: 1em;
							margin-right: -1em;
						}
						.title {
							transform: scale(1.1);
						}
						.hidden-text {
							opacity: 1;
							transition: .3s;
						}
					}
				}
			}	

			&.daybreak { 
				text-align: right; 
				margin-right: 30px;
				
				.cta {
					font-size: 16px;
					letter-spacing: .7em;	
					margin-right: -.7em; 
					opacity: .75;
					
				}
				.title {
					font-size: 60px;
					opacity: .85;
					transform-origin: 100% 15%;
					
					@media screen and (max-width: 600px) { margin-left: -4px }
				}
				
			}
			
			&.trailer { 
				text-align: left;
				margin-left: 30px;
				
				@media screen and (max-width: 600px) { 
					margin-top: 30px !important; 
				}
				
				.cta {
					letter-spacing: .7em;	
					opacity: .8;					
				}
				.title {
					letter-spacing: .25em;
					transform-origin: 0% 15%;
					
					@media screen and (max-width: 600px) { letter-spacing: 0 }
				}
			}
			
		}
		.cta-block-divider {
			opacity: .2;
			margin: -55px 29px 0 32px;
			display: inline-block;
			vertical-align: top;
			background: $primary-text-color;			
			width: 1px;
			height: 200px;
			border-spacing: 20px;
		}
		
		//newsletter
		.newsletter {
			margin-top: 150px;
			padding-bottom: 300px;
			
			@media screen and (max-width: 600px) {
				width: 300px;
				margin: 30px auto 0 auto;
				text-align: left;
			}
			
			span {
				font-family: FuturaLT;
				color: $primary-text-color;
				font-size: 34px;
				text-transform: uppercase;
				letter-spacing: .4em;
				margin-right: -.523em;
				
				&:first-child {
					font-size: 16px;
					letter-spacing: .45em;
					margin-left: -2px;
					margin-right: -1em;
				}
				
				@media screen and (max-width: 600px) {
					font-size: 60px;
					letter-spacing: -.05em;
					margin-left: -4px;
					margin-top: -4px;
					display: inline-block;
				
					&:first-child {
						letter-spacing: .6em;
						margin-left: 0px;

					}
				}
			}
			
			form {
				margin-top: 20px;
				
				@media screen and (max-width: 600px) { margin: 0px -4px 0 -4px;}
				
				input {
					margin: 0 2px;
					padding: 10px;
					font-size: 18px;
					border-radius: 6px;
					background: transparent;
					color: white;
					text-transform: uppercase;
					font-family: FuturaLT;
					outline: none;
					transition: .2s;
					
				}
				
				p {
					color: white;
					opacity: .5;
					font-family: FuturaLT;
				}
				
				input[type="email"]{
					width: 360px;
					letter-spacing: .25em;
					background: rgba(black, .6);
					border: 2px solid rgba($primary-text-color, .5);
					
					&:hover {
						border: 2px solid $primary-text-color;
						transition: .05s;
					}
					&:focus {
						border: 2px solid white;
						transition: .15s;
					}
					
					@media screen and (max-width: 600px) {
						width: calc(100% - 30px);
						margin-bottom: 4px; 
					}
				}
				input[type="submit"]{
					cursor: pointer; 
					letter-spacing: .1em;
					padding: 10px 20px;
					border: 2px solid $primary-text-color;
					transition: .2s;
					color: rgba($primary-text-color, .9);
					
					&:hover { 
						background: rgba(white, .1);
						border: 5px solid $primary-text-color;
						transition: .15s; 
						padding: 7px 17px;
						color: rgba(white, .9);
						animation-timing-function: ease-in-out;
					}
					&:focus {
						color: white;
						transition: .05s;
						border: 5px solid white;
					}
					
					@media screen and (max-width: 600px) { padding: 10px; }
				}
			}
		}
	}
}