//
// !! fonts

@font-face {
  font-family: FuturaLt;
  src: url('../fonts/FuturaStd-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/FuturaStd-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/FuturaStd-Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/FuturaStd-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FuturaStd-Light.svg#d83a536671d160add994a83c5144bd9a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: FuturaMd;
  src: url('../fonts/FuturaStd-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/FuturaStd-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/FuturaStd-Medium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/FuturaStd-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FuturaStd-Medium.svg#978bfeb47c41e9c6da434cb6375bf283') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: FuturaBold;
  src: url('../fonts/FuturaStd-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/FuturaStd-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/FuturaStd-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/FuturaStd-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FuturaStd-Bold.svg#e6614ac1ffeb97962de474601fd3ce1d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: FuturaBookOb;
  src: url('../fonts/FuturaStd-BookOblique.eot'); /* IE9 Compat Modes */
  src: url('../fonts/FuturaStd-BookOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/FuturaStd-BookOblique.woff') format('woff'), /* Modern Browsers */
       url('../fonts/FuturaStd-BookOblique.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FuturaStd-BookOblique.svg#e5aaccfa75b4050fd08ee20229c6009f') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: FuturaBook;
  src: url('../fonts/FuturaStd-Book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/FuturaStd-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/FuturaStd-Book.woff') format('woff'), /* Modern Browsers */
       url('../fonts/FuturaStd-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FuturaStd-Book.svg#db02aa682b3e193ac55da3558b4b0d6e') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: HelveticaRoman;
  src: url('../fonts/HelveticaNeueLTStd-Roman.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeueLTStd-Roman.woff') format('woff'), /* Modern Browsers */
       url('../fonts/HelveticaNeueLTStd-Roman.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeueLTStd-Roman.svg#06ce8507218b5fc98ef98a8271373604') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: HelveticaBold;
  src: url('../fonts/HelveticaNeueLTStd-Bd.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeueLTStd-Bd.woff') format('woff'), /* Modern Browsers */
       url('../fonts/HelveticaNeueLTStd-Bd.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeueLTStd-Bd.svg#5971a26102354d59c0f922ff596bc172') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: Helvetica;
  src: url('../fonts/HelveticaNeueLTStd-Md.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff'), /* Modern Browsers */
       url('../fonts/HelveticaNeueLTStd-Md.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeueLTStd-Md.svg#297525cf3c6ba1ff86516c4aa7d9abf5') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}