//navigation
#menu {
	width: 100vw;
	height: 180px;
	top: 44vh;
	position: absolute;
	background: rgba(black, .8);
	text-align: center;

	li {
		display: inline-block;
		margin: 87px 30px 0 30px;
		
		a { 
			font-family: FuturaLt;
			font-size: 16px;
			letter-spacing: .4em;
			color: white; 
			opacity: .5;
			text-decoration: none; 
			margin-top: 30px; 
			display: inline-block; 
			text-transform: uppercase; 
			transition: .5s;
			animation-timing-function: ease-in-out;
			
			&:hover { 
				opacity: 1;
				transform: scale(1.15);
				transform-origin: 50% 50%;
				letter-spacing: .6em;
				transition: .2s;
				animation-timing-function: ease-out;
			}
		}
	}
	
	.social-items {
		position: absolute;
		right: 7vw;
		bottom: -7px;
	
		a { 
			opacity: .5;
			margin: 0 -20px;
			transform: scale(.4);
			display: inline-block;
			animation-timing-function: ease-in-out;
			transition: .4s;
			
			&:hover {
				transform: scale(.5);
				opacity: 1;
				animation-timing-function: ease-out;
				transition: .2s;
			}
		}
	}
}

//desktop border
#border { 
	width: calc(100vw - 60px);
	height: calc(100vh - 60px);
	border: 2px solid rgba(white, .4);
	pointer-events: none;
	color: white;
	
	.patch {
		width: 100px;
		height: 100px;
		background-image: url(../images/titan_spread/patch.png);
		background-size: cover;
		position: absolute;
		left: 20px;
		bottom: 20px;
	}
}
#border-faded { 
	width: calc(100vw - 60px + 15px);
	height: calc(100vh - 60px + 15px);
	border: 2px solid rgba(white, .15);
	pointer-events: none;
	color: white;
}