@font-face {
  font-family: FuturaLt;
  src: url("../fonts/FuturaStd-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FuturaStd-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaStd-Light.woff") format("woff"), url("../fonts/FuturaStd-Light.ttf") format("truetype"), url("../fonts/FuturaStd-Light.svg#d83a536671d160add994a83c5144bd9a") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: FuturaMd;
  src: url("../fonts/FuturaStd-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FuturaStd-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaStd-Medium.woff") format("woff"), url("../fonts/FuturaStd-Medium.ttf") format("truetype"), url("../fonts/FuturaStd-Medium.svg#978bfeb47c41e9c6da434cb6375bf283") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: FuturaBold;
  src: url("../fonts/FuturaStd-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FuturaStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaStd-Bold.woff") format("woff"), url("../fonts/FuturaStd-Bold.ttf") format("truetype"), url("../fonts/FuturaStd-Bold.svg#e6614ac1ffeb97962de474601fd3ce1d") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: FuturaBookOb;
  src: url("../fonts/FuturaStd-BookOblique.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FuturaStd-BookOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaStd-BookOblique.woff") format("woff"), url("../fonts/FuturaStd-BookOblique.ttf") format("truetype"), url("../fonts/FuturaStd-BookOblique.svg#e5aaccfa75b4050fd08ee20229c6009f") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: FuturaBook;
  src: url("../fonts/FuturaStd-Book.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FuturaStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaStd-Book.woff") format("woff"), url("../fonts/FuturaStd-Book.ttf") format("truetype"), url("../fonts/FuturaStd-Book.svg#db02aa682b3e193ac55da3558b4b0d6e") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: HelveticaRoman;
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-Roman.svg#06ce8507218b5fc98ef98a8271373604") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: HelveticaBold;
  src: url("../fonts/HelveticaNeueLTStd-Bd.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Bd.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-Bd.svg#5971a26102354d59c0f922ff596bc172") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Helvetica;
  src: url("../fonts/HelveticaNeueLTStd-Md.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/HelveticaNeueLTStd-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Md.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Md.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-Md.svg#297525cf3c6ba1ff86516c4aa7d9abf5") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
/* line 1, ../../theme/assets/stylesheets/_loader.scss */
.shroud {
  position: absolute;
  z-index: 9999;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: black;
}
/* line 10, ../../theme/assets/stylesheets/_loader.scss */
.shroud img {
  width: 50px;
}
/* line 14, ../../theme/assets/stylesheets/_loader.scss */
.shroud .a, .shroud .b, .shroud .c, .shroud .a2, .shroud .b2, .shroud .c2 {
  width: 104px;
  position: fixed;
  top: calc(50% - 76px);
  left: calc(50% - 52px);
  transform-origin: 50% 50%;
  opacity: 0;
}
/* line 23, ../../theme/assets/stylesheets/_loader.scss */
.shroud .a, .shroud .a2 {
  top: calc(50% - 210px);
}
/* line 24, ../../theme/assets/stylesheets/_loader.scss */
.shroud .c, .shroud .c2 {
  top: calc(50% - 33px);
}
/* line 25, ../../theme/assets/stylesheets/_loader.scss */
.shroud .a2 img, .shroud .b2 img, .shroud .c2 img {
  transform: scaleX(-1) translateX(-54px);
}
/* line 28, ../../theme/assets/stylesheets/_loader.scss */
.shroud .b img, .shroud .b2 img {
  opacity: .8;
}
/* line 29, ../../theme/assets/stylesheets/_loader.scss */
.shroud .c img, .shroud .c2 img {
  opacity: .6;
}
/* line 32, ../../theme/assets/stylesheets/_loader.scss */
.shroud .a2 {
  animation: right 3.2s infinite;
}
/* line 33, ../../theme/assets/stylesheets/_loader.scss */
.shroud .b2 {
  animation: right 3.2s infinite;
  animation-delay: .25s;
}
/* line 34, ../../theme/assets/stylesheets/_loader.scss */
.shroud .c2 {
  animation: right 3.2s infinite;
  animation-delay: .5s;
}
/* line 35, ../../theme/assets/stylesheets/_loader.scss */
.shroud .c {
  animation: left 3.2s infinite;
  animation-delay: .75s;
}
/* line 36, ../../theme/assets/stylesheets/_loader.scss */
.shroud .b {
  animation: left 3.2s infinite;
  animation-delay: 1s;
}
/* line 37, ../../theme/assets/stylesheets/_loader.scss */
.shroud .a {
  animation: left 3.2s infinite;
  animation-delay: 1.25s;
}

@keyframes left {
  0% {
    animation-timing-function: cubic-bezier(0, 0.4, 0.6, 1);
    transform: translate(-50px, -47px);
    opacity: 0;
  }
  10% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  60% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  85% {
    animation-timing-function: ease-in-out;
    transform: translateX(-50px, -30px);
    opacity: 0;
  }
}
@keyframes right {
  0% {
    animation-timing-function: cubic-bezier(0, 0.4, 0.6, 1);
    transform: translate(50px, 47px);
    opacity: 0;
  }
  10% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  60% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  85% {
    animation-timing-function: ease-in-out;
    transform: translate(0px, 0px);
    opacity: 0;
  }
}
/* line 1, ../../theme/assets/stylesheets/_content.scss */
.content {
  margin-top: 900px;
  background: rgba(0, 0, 0, 0.75);
  height: 1300px;
}
/* line 6, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper {
  color: white;
  margin: 0px auto;
  width: 1200px;
  text-align: center;
}
/* line 12, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .aligncenter {
  margin: 0px auto;
  display: block;
}
/* line 16, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .blocks {
  display: table;
  margin: 0px auto;
}
/* line 20, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .front-content {
  position: relative;
  z-index: 1000;
}
/* line 26, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .cta-block {
  margin-top: -100px;
  width: 300px;
  height: 100px;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
}
/* line 35, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .cta-block a {
  text-decoration: none;
  color: #ae9a6e;
  font-family: FuturaLT;
  cursor: pointer;
  overflow: hidden;
}
/* line 42, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .cta-block a .cta, .content .wrapper .cta-block a .title, .content .wrapper .cta-block a .hidden-text {
  transition: .2s;
  animation-timing-function: ease-in-out;
}
/* line 46, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .cta-block a .cta {
  font-size: 16px;
  letter-spacing: .7em;
  opacity: .75;
}
/* line 51, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .cta-block a .title {
  margin-top: -8px;
  padding-top: 3px;
  display: block;
  font-size: 60px;
}
/* line 58, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .cta-block a .hidden-text {
  opacity: 0;
  font-size: 14px;
  font-family: FuturaMD;
  letter-spacing: .3em;
  color: #753901;
  text-transform: lowercase;
}
/* line 68, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .cta-block a:hover .cta, .content .wrapper .cta-block a:hover .title {
  color: white;
  opacity: 1;
  transition: .3s;
  animation-timing-function: ease-out;
}
/* line 74, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .cta-block a:hover .cta {
  letter-spacing: 1em;
  margin-right: -1em;
}
/* line 78, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .cta-block a:hover .title {
  transform: scale(1.1);
}
/* line 81, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .cta-block a:hover .hidden-text {
  opacity: 1;
  transition: .3s;
}
/* line 88, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .cta-block.daybreak {
  text-align: right;
  margin-right: 30px;
}
/* line 92, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .cta-block.daybreak .cta {
  font-size: 16px;
  letter-spacing: .7em;
  margin-right: -.7em;
  opacity: .75;
}
/* line 99, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .cta-block.daybreak .title {
  font-size: 60px;
  opacity: .85;
  transform-origin: 100% 15%;
}
/* line 107, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .cta-block.trailer {
  text-align: left;
  margin-left: 30px;
}
/* line 111, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .cta-block.trailer .cta {
  letter-spacing: .7em;
  opacity: .8;
}
/* line 115, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .cta-block.trailer .title {
  letter-spacing: .25em;
  transform-origin: 0% 15%;
}
/* line 122, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .cta-block-divider {
  opacity: .2;
  margin: -55px 29px 0 32px;
  display: inline-block;
  vertical-align: top;
  background: #ae9a6e;
  width: 1px;
  height: 200px;
  border-spacing: 20px;
}
/* line 134, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .newsletter {
  margin-top: 120px;
  padding-bottom: 300px;
}
/* line 138, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .newsletter span {
  font-family: FuturaLT;
  color: #ae9a6e;
  font-size: 34px;
  text-transform: uppercase;
  letter-spacing: .523em;
  margin-right: -.523em;
}
/* line 146, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .newsletter span:first-child {
  font-size: 16px;
  letter-spacing: 1em;
  margin-left: -2px;
  margin-right: -1em;
}
/* line 154, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .newsletter form {
  margin-top: 20px;
}
/* line 157, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .newsletter form input {
  margin: 0 2px;
  padding: 10px;
  font-size: 18px;
  border-radius: 6px;
  background: transparent;
  color: white;
  text-transform: uppercase;
  font-family: FuturaLT;
  outline: none;
  transition: .2s;
}
/* line 171, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .newsletter form p {
  color: white;
  opacity: .5;
  font-family: FuturaLT;
}
/* line 177, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .newsletter form input[type="email"] {
  width: 360px;
  letter-spacing: .25em;
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid rgba(174, 154, 110, 0.5);
}
/* line 182, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .newsletter form input[type="email"]:hover {
  border: 2px solid #ae9a6e;
  transition: .05s;
}
/* line 186, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .newsletter form input[type="email"]:focus {
  border: 2px solid white;
  transition: .15s;
}
/* line 191, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .newsletter form input[type="submit"] {
  cursor: pointer;
  letter-spacing: .1em;
  padding: 10px 20px;
  border: 2px solid #ae9a6e;
  transition: .2s;
  color: rgba(174, 154, 110, 0.9);
}
/* line 199, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .newsletter form input[type="submit"]:hover {
  background: rgba(255, 255, 255, 0.1);
  border: 5px solid #ae9a6e;
  transition: .15s;
  padding: 7px 17px;
  color: rgba(255, 255, 255, 0.9);
  animation-timing-function: ease-in-out;
}
/* line 207, ../../theme/assets/stylesheets/_content.scss */
.content .wrapper .newsletter form input[type="submit"]:focus {
  color: white;
  transition: .05s;
  border: 5px solid white;
}

/* line 1, ../../theme/assets/stylesheets/_titan_spread.scss */
html {
  min-height: 100%;
  position: relative;
}

/* line 6, ../../theme/assets/stylesheets/_titan_spread.scss */
body {
  margin: 0px;
  background-color: black;
  background-image: url(../images/titan_spread/background_repeat.jpg);
  background-position: center top;
  background-repeat: repeat-x;
  height: 100%;
}
/* line 14, ../../theme/assets/stylesheets/_titan_spread.scss */
body .background-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -9999;
  background: url(../images/titan_spread/background.jpg) center top no-repeat;
}

/* line 26, ../../theme/assets/stylesheets/_titan_spread.scss */
canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}

/* line 2, ../../theme/assets/stylesheets/_site_header.scss */
#menu {
  width: 95vw;
  height: 150px;
  top: 44vh;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  transition: .3s;
  animation-timing-function: ease-in-out;
}
/* line 12, ../../theme/assets/stylesheets/_site_header.scss */
#menu.hidden {
  background: transparent;
}
/* line 15, ../../theme/assets/stylesheets/_site_header.scss */
#menu.hidden ul {
  opacity: 0;
  transition: .8s;
}
/* line 18, ../../theme/assets/stylesheets/_site_header.scss */
#menu ul {
  padding: 0px;
  margin-top: 100px;
  transition: .5s;
  animation-timing-function: ease-in-out;
}
/* line 24, ../../theme/assets/stylesheets/_site_header.scss */
#menu ul li {
  display: inline-block;
  margin: 0 30px 0 30px;
  vertical-align: middle;
}
/* line 29, ../../theme/assets/stylesheets/_site_header.scss */
#menu ul li a {
  font-family: FuturaLt;
  font-size: 16px;
  letter-spacing: .4em;
  color: white;
  opacity: .5;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
  animation-timing-function: ease-in-out;
}
/* line 40, ../../theme/assets/stylesheets/_site_header.scss */
#menu ul li a:hover {
  opacity: 1;
  transform: scale(1.15);
  transform-origin: 50% 50%;
  letter-spacing: .6em;
  transition: .2s;
  animation-timing-function: ease-out;
}
/* line 50, ../../theme/assets/stylesheets/_site_header.scss */
#menu ul .menu-divider {
  vertical-align: middle;
  margin: -3px 0 0 0;
  opacity: .5;
}
/* line 54, ../../theme/assets/stylesheets/_site_header.scss */
#menu ul .menu-divider img {
  width: 10px;
  height: 10px;
}
/* line 59, ../../theme/assets/stylesheets/_site_header.scss */
#menu ul .menu-divider:last-child {
  display: none;
}
/* line 63, ../../theme/assets/stylesheets/_site_header.scss */
#menu .social-items {
  position: absolute;
  right: 58px;
  bottom: -7px;
}
/* line 68, ../../theme/assets/stylesheets/_site_header.scss */
#menu .social-items a {
  opacity: .5;
  margin: 0 -20px;
  transform: scale(0.4);
  display: inline-block;
  animation-timing-function: ease-in-out;
  transition: .4s;
}
/* line 76, ../../theme/assets/stylesheets/_site_header.scss */
#menu .social-items a:hover {
  transform: scale(0.5);
  opacity: 1;
  animation-timing-function: ease-out;
  transition: .2s;
}

/* line 87, ../../theme/assets/stylesheets/_site_header.scss */
#border {
  width: calc(100vw - 60px);
  height: calc(100vh - 60px);
  border: 2px solid rgba(255, 255, 255, 0.4);
  pointer-events: none;
  color: white;
}
/* line 94, ../../theme/assets/stylesheets/_site_header.scss */
#border .patch {
  width: 100px;
  height: 100px;
  background-image: url(../images/titan_spread/patch.png);
  background-size: cover;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

/* line 104, ../../theme/assets/stylesheets/_site_header.scss */
#border-faded {
  width: calc(100vw - 60px + 15px);
  height: calc(100vh - 60px + 15px);
  border: 2px solid rgba(255, 255, 255, 0.15);
  pointer-events: none;
  color: white;
}

/* line 10, ../../theme/assets/stylesheets/screen.sass */
.page-wrapper {
  width: 960px;
  margin: 0 auto;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  color: #333;
}
/* line 19, ../../theme/assets/stylesheets/screen.sass */
.page-wrapper section.site-content {
  padding: 20px;
}
/* line 22, ../../theme/assets/stylesheets/screen.sass */
.page-wrapper section.site-content h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #777;
}
/* line 3, ../../theme/assets/stylesheets/_tinymce.sass */
.page-wrapper section.site-content .aligncenter, .page-wrapper section.site-content dl.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 9, ../../theme/assets/stylesheets/_tinymce.sass */
.page-wrapper section.site-content .alignleft {
  float: left;
}
/* line 12, ../../theme/assets/stylesheets/_tinymce.sass */
.page-wrapper section.site-content .alignright {
  float: right;
}
/* line 15, ../../theme/assets/stylesheets/_tinymce.sass */
.page-wrapper section.site-content .wp-caption {
  border: 1px solid #ddd;
  text-align: center;
  background-color: #f3f3f3;
  padding-top: 4px;
  margin: 10px 0;
}
/* line 22, ../../theme/assets/stylesheets/_tinymce.sass */
.page-wrapper section.site-content .wp-caption img {
  margin: 0;
  padding: 0;
  border: 0 none;
  -apple-user-drag: none;
  -khtml-user-drag: none;
  -webkit-user-drag: none;
}
/* line 30, ../../theme/assets/stylesheets/_tinymce.sass */
.page-wrapper section.site-content .wp-caption-dd {
  font-size: 11px;
  line-height: 17px;
  padding: 0 4px 5px;
  margin: 0;
}
/* line 36, ../../theme/assets/stylesheets/_tinymce.sass */
.page-wrapper section.site-content pre {
  font: 12px/18px Consolas, Monaco, monospace;
}
/* line 39, ../../theme/assets/stylesheets/_tinymce.sass */
.page-wrapper section.site-content td {
  color: #000;
  font-size: 11px;
  margin: 8px;
}
/* line 44, ../../theme/assets/stylesheets/_tinymce.sass */
.page-wrapper section.site-content strong {
  font-weight: strong;
}
/* line 47, ../../theme/assets/stylesheets/_tinymce.sass */
.page-wrapper section.site-content em, .page-wrapper section.site-content i {
  font-style: italic;
}
/* line 1, ../../theme/assets/stylesheets/_post.sass */
.page-wrapper section.site-content .post {
  margin-bottom: 20px;
}
/* line 4, ../../theme/assets/stylesheets/_post.sass */
.page-wrapper section.site-content .post header {
  margin-bottom: 10px;
}
/* line 7, ../../theme/assets/stylesheets/_post.sass */
.page-wrapper section.site-content .post header h3 {
  font-size: 15px;
  font-weight: bold;
}
/* line 11, ../../theme/assets/stylesheets/_post.sass */
.page-wrapper section.site-content .post header h3 a {
  color: #355593;
  text-decoration: none;
}
/* line 15, ../../theme/assets/stylesheets/_post.sass */
.page-wrapper section.site-content .post strong, .page-wrapper section.site-content .post b {
  font-weight: bold;
}
/* line 18, ../../theme/assets/stylesheets/_post.sass */
.page-wrapper section.site-content .post sub {
  font-size: xx-small;
  vertical-align: sub;
}
/* line 22, ../../theme/assets/stylesheets/_post.sass */
.page-wrapper section.site-content .post sup {
  font-size: xx-small;
  vertical-align: super;
}
